<h1>Showing article details</h1>
<%# every thing inside these <> %% is being interpreted as ruby code, but without = it doesn't display a thing on the screen%>
<p><strong>Title:</strong> <%= @article.title %></p>
<p><strong>Description:</strong> <%= @article.description %></p>