// app/assets/stylesheets/custom.scss

@import 'variables';
@import "bootstrap/scss/functions"; // Importar funções do Bootstrap, se já não estiver
@import "bootstrap/scss/variables"; // Importar variáveis do Bootstrap, se já não estiver
@import "bootstrap/scss/mixins";    // Importar mixins do Bootstrap, se já não estiver
// Certifique-se de que seus imports do Bootstrap estão corretos,
// caso contrário, as variáveis $table-dark-... não funcionarão se não forem sobrescritas.

html,
body {
  height: 100%;
}

body {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

#logo {
  float: left;
  font-size: $logo-font-size;
  color: $logo-color;
  text-transform: $logo-text-transform;
  letter-spacing: $logo-letter-spacing;
  font-weight: $logo-font-weight;
}

#page-content {
  flex: 1;
  padding: 2rem 1rem;
}

#jumbotron {
  background-image: url('jumbo.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  margin: auto;
}

#sticky-footer {
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
}